<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Pilot.pilot.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name="com.Pilot.pilot.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.Pilot.pilot.app.myReceiver" >
            <intent-filter
                android:enabled="true"
                android:exported="false" >
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.Pilot.pilot.app.createGoalActivity"
            android:label="@string/title_activity_create_goal" >
        </activity>
        <activity
            android:name="com.Pilot.pilot.app.progressScreenActivity"
            android:label="@string/title_activity_progress_screen" >
        </activity>
        <activity
            android:name="com.Pilot.pilot.app.quoteActivity"
            android:label="@string/title_activity_quote" >
        </activity>
    </application>

</manifest>